# TypeScript Artifacts
node_modules/
.pnpm-store/
dist/

# Nix
.direnv/
result
result-*
.envrc

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# IDEs
.vscode/
.idea/
.zed/
*.swp

# OS Specific
.DS_Store
Thumbs.db

# Secrets
.env*

# Local Notes
.notes/
